.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    .minHeight {
        flex-direction: column;
        display: flex;
        justify-content: center;
        max-width: 400px;
        h1 {
            display: block;
            color: #383E71;
            font-size: 40px;
            line-height: 38px;
        }
        h3 {
            font-size: 16px;
            font-weight: 600;
            color: #989FDB;
        }
        label {
            display: block;
            font-size: 10px;
            padding-left: 10px;
            color: #383E71;
            margin-bottom: 5px;
        }
        input {
            border: 1px solid #989FDB;
            box-sizing: border-box;
            border-radius: 8px; 
            padding: 15px;
            width: 100%;
            &.invalid {
                border: 1px solid #FF377F;
            }
        }
        button {
            box-shadow: 0px 10px 25px #CF99DB;
            border-radius: 8px; 
            border: none;
            outline:none;
            color: #fff;
            padding: 10px 15px;
            width: 100%;
            transition: .3s linear all;
            cursor: pointer;
            &:hover {
                opacity: .85;
            }
            &:focus {
                outline: none;
            }
        }
        span {
            font-size: 14px;
            text-align: center;
            color: #989FDB;
            u {
                cursor: pointer;
                color: #383E71;
            }
        }
    }
}
