.imageContainer {
    background-image: url('/frontendchallenge.github.io/static/images/left-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

@media only screen and (max-width: 576px) {
    .imageContainer {
        background-color: #130525;        ;
        background-image: url('/frontendchallenge.github.io/static/images/left-bg.png');
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 100vh;
    }
}
